<div class="container-fluid mt-5 table-main">
	<div class="row header-row row-table">
		<div class="col-3" style="max-width: 150px">
			<div class="row">
				<div class="col-12 d-flex">
					<mat-checkbox id="all" (click)="this.allCheckClick()" name="agree"></mat-checkbox>
					<button class="btn-toggle-burger" style="opacity: 0">
						<span></span>
					</button>
					<div class="id-col">ID</div>
				</div>
			</div>
		</div>
		<div class="col-3">Уровень</div>
		<div class="col-3">Процент</div>
		<div class="col-3">Пользователи</div>
	</div>
	<div *ngFor="let col of rows" class="row row-table">
		<div class="col-3" style="max-width: 150px">
			<div class="row">
				<div class="col-12 d-flex">
					<mat-checkbox [checked]="col.checked" name="agree"></mat-checkbox>
					<button class="btn-toggle-burger">
						<span></span>
					</button>
					<div class="id-col">{{col.id}}</div>
				</div>
			</div>
		</div>
		<div class="col-3">{{col.lvl}} уровень</div>
		<div class="col-3">{{col.procent}}%</div>
		<div class="col-3">{{col.Users}}</div>
	</div>
</div>
