<div class="verification-form">
	<form action="">
		<div class="choice-avatar-row">
			<div class="choice-avatar">
				<div class="choice-avatar-add">Добавить фото</div>
			</div>
		</div>
		<div class="input-label">Имя</div>
		<input type="text">
		<div class="input-label">Фамилия</div>
		<input type="text">
		<div class="input-label">Отчество</div>
		<input type="text">
		<div class="input-label">Выберите пол</div>
		<mat-radio-group class="example-radio-group">
			<mat-radio-button class="example-radio-button" *ngFor="let sexItem of sex" [value]="sexItem">
				{{sexItem}}
			</mat-radio-button>
		</mat-radio-group>
		<div class="input-label">Дата рождения</div>
		<input type="text">
		<div class="input-label">Гражданство</div>
		<input type="text">
		<div class="input-label">Номер паспорта</div>
		<input type="text">
		<div class="input-label">Кем выдан</div>
		<input type="text">
		<div class="input-label">Дата выдачи</div>
		<input type="text">
		<div class="input-label">Код подразделения</div>
		<input type="text">
		<div class="input-label">Адрес регистрации</div>
		<input type="text">
		<div class="input-label">СНИЛС</div>
		<input type="text">
		<div class="input-label">ИНН</div>
		<input type="text">
		<div class="input-label">Скан паспорта</div>
		<div class="file-area">
			<input class="file-drop" type="files">
		</div>

		<br>
		<button mat-raised-button color="accent">Отправить данные</button>
	</form>
</div>
