<div class="verification-form">
	<form action="">
		<div class="choice-avatar-row">
			<div class="choice-avatar">
				<div class="choice-avatar-add">Добавить фото</div>
			</div>
		</div>
		<div class="input-label">Имя</div>
		<input name="fullName"type="text">
		<div class="input-label">Фамилия</div>
		<input name="surname"type="text">
		<div class="input-label">Отчество</div>
		<input type="text" name="middleName">
		<div class="input-label">Выберите пол</div>
		<mat-radio-group class="example-radio-group">
			<mat-radio-button class="example-radio-button" name="sex" *ngFor="let sexItem of sex" [value]="sexItem">
				{{sexItem}}
			</mat-radio-button>
		</mat-radio-group>
		<div class="input-label">Дата рождения</div>
		<input name="birthday" type="text">
		<div class="input-label">Гражданство</div>
		<input name="citizenship" type="text">
		<div class="input-label">Номер паспорта</div>
		<input name="passportSerial" type="text">
		<div class="input-label">Кем выдан</div>
		<input name="passportGive" type="text">
		<div class="input-label">Дата выдачи</div>
		<input name="passportGiveDate" type="text">
		<div class="input-label">Код подразделения</div>
		<input name="passportCode" type="text">
		<div class="input-label">Адрес регистрации</div>
		<input name="passportAddress" type="text">
		<div class="input-label">СНИЛС</div>
		<input name="SNILS" type="text">
		<div class="input-label">ИНН</div>
		<input name="INN" type="text">
		<div class="input-label">Скан паспорта</div>
		<div class="file-area">
			<input name="scansFiles" class="file-drop" type="files">
		</div>
		<br>

		<button routerLink="/auth/login" mat-raised-button color="accent">Отправить данные</button>
	</form>
</div>
