.comrade:first-child>.comrade__info {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.comrade__info--top {
	background-color: #fcb12e;
	color: white;
	border: none;
	border-top: 1px solid #0a2439;
}
.comrade__info {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 0 0 -1px;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 1;
	border: 1px solid #0a2439;
}
ul.comrade__info.comrade__info--top {
	display: flex;
	justify-content: flex-start;
}

li.comrade__data {
	flex: 1;
	padding: 20px 0;
}

li.comrade__data:first-child {
	padding: 0 40px;
	flex: 0;
}
ul.comrade__head {
	display: flex;
	list-style: none;
}
