<kt-portlet [class]="'kt-portlet--height-fluid kt-custom-chart'">
	<kt-portlet-header [title]="'График'">

	</kt-portlet-header>
	<kt-portlet-body>
		<div *ngIf="userList !== undefined" class="table">
			<div *ngIf="userList.length !== 0" class="row table-header">
				<div class="col-3">Имя пользователя</div>
				<div class="col-3">Email</div>
				<div class="col-3">Баланс</div>
				<div class="col-3">Дата регистрации</div>
			</div>
			<div *ngIf="userList.length === 0" class="wait">
				<mat-spinner></mat-spinner>
			</div>
			<div *ngFor="let user of userList">
				<div class="row table-row">
					<div class="col-3">{{user.username}}</div>
					<div class="col-3">{{user.email}}</div>
					<div class="col-3">{{user.balance}}</div>
					<div class="col-3">{{user.dateFormat()}}</div>
				</div>
			</div>
		</div>
		<div *ngIf="userList  === undefined" class="warning-msg">
			Список пуст
		</div>
	</kt-portlet-body>
</kt-portlet>
