.catalog-area{
	display: flex;
	flex-wrap: wrap;
	.card-item {
		margin: 20px 10px;
		max-width: calc(33% - 20px);
		width: 100%;
		background-color: #0a2439;
		.card-item-img {
			border-radius: 4px 4px 0 0;
			height: 350px;
			background-repeat: no-repeat;
			padding: 25px 0;
			background-size: cover;
			display: flex;
			background-position: 50%;
			flex-direction: column;
			justify-content: space-between;
			.card-item-img-row {
				display: flex;
				justify-content: space-between;
				padding-left: 25px;
				align-items: center;
				font-size: 13px;
				.card-item-marker {
					background-color: #0a2439;
					padding: 10px 15px;
					opacity: 0.8;
					border-radius: 3px;
					color: #fcb12e;
				}
				.card-item-cost {
					font-size: 24px;
					padding: 10px;
					background: #0a2439;
					color: white;
				}
				.card-item-title {
					font-size: 23px;
					color: white;
				}
			}
		}
		.card-item-bottom {
			padding: 25px;
			border-radius: 0 0 4px 4px;
			background-color: #0a2439;
			.card-item-user {
				display: flex;
				justify-content: space-between;
				.card-item-user-info {
					display: flex;
					.card-item-user-avatar {
						width: 45px;
						border-radius: 50%;
						height: 45px;
						background-size: contain;
						background-position: 50%;
						background-image: url(/assets/media/users/300_25.jpg);
					}
					.card-item-user-info-content {
						padding-left: 20px;
						.card-item-user-info-name {
							font-size: 14px;
							color: #fcb12e;
						}
						.card-item-user-info-position {
							font-size: 13px;
							color: #fcb12e;
						}
					}
				}
				.card-item-user-cost {
					display: flex;
					flex-direction: column;
					align-items: center;
					.card-item-user-cost-precent {
						text-align: center;
						font-size: 18px;
						color: #fcb12e;
						font-weight: bold;
					}
					.card-item-user-cost-info {
						font-size: 12px;
						color: #fcb12e;
						text-align: center;
					}
				}
			}
			.progress-bar {
				background: transparent;
				.progress-bar-done {
					margin-top: 15px;
					color: #6C7293;
					display: flex;
					justify-content: space-between;
					font-size: 22px;
				}
				.progress-bar-count-investor {
					display: flex;
					font-size: 14px;
					color: #fcb12e;
					span {
						padding-left: 5px;
					}
				}
				.kt-widget12__progress {
					margin-top: 10px;
					> .progress {
						> .progress-bar.bg-success {
							background-color: #fcb12e!important;
						}
					}
				}
				.kt-custom-widget-more {
					margin-top: 35px;
					display: flex;
					justify-content: flex-end;
					.kt-custom-widget-more-like-btn {
						cursor: pointer;
						background: #0a2439;
						border:1px solid #fcb12e;
						width: 32px;
						height: 32px;
						align-items: center;
						display: flex;
						justify-content: center;
						color: black;
						> i {
							transition: all 0.5s ease 0s;
						}
					}

				}
			}
		}
	}
}
.kt-custom-widget-more-more-btn {
	border:1px solid #fcb12e;
	margin: 10px auto;
	cursor: pointer;
	background: #0a2439;
	color: #fcb12e;
	font-size: 11px;
	padding: 5px 15px;
	align-items: center;
	display: flex;
	justify-content: center;
	font-weight: 600;
}
@media screen and (max-width: 1400px){
	.progress-bar-done {
		font-size: 15px !important;
	}
	.card-item {
		max-width: calc(50% - 20px) !important;
	}
}
@media screen and (max-width: 1200px){
	.progress-bar-done {
		font-size: 12px!important;
	}

}
@media screen and (max-width: 700px){

	.card-item {
		max-width: calc(100% - 20px)!important;
	}
	.progress-bar-count-investor {
		font-size: 10px!important;
	}
}
.progress.kt-progress--sm {
	background-color: #0a2439;
	border: 1px solid #fcb12e;
}
.progress-bar-done-section {

	color: #fcb12e;
}
.card-item-title {
	padding: 5px 30px;
	position: relative;
	left: -25px;
	background-color: #0c243a;
}
