button.btn.custom-catalog-btn {
	background-color: #fcb12e;
}
button.btn.custom-catalog-btn:hover {
	background-color: #fcb12e;
}
.full-width {
	width: 100%;
}
button.btn.full-width.custom-catalog-btn {
	margin: 0;
}
button.btn.full-width.custom-catalog-btn {
	color: white;
	margin-left: 0;
	margin-top: 10px;
}
