<div class="kt-login__body kt-type-account">
	<div class="logo-row">
		<div class="logo-small"></div>
	</div>
	<div class="account-type">
		<div class="account-type-container">
			<div class="account-user-img">
			</div>
		</div>
		<div class="account-type-title">Добро пожаловать!</div>
	</div>
	<div class="kt-login__actions">
	</div>
	<div class="kt-login__register accept-row">
		<span>Ваш аккаунт <b>неверифицирован.</b> Не хотите сделать это прямо сейчас?</span>
<!--		<a href="javascript:;" routerLink="/auth/login" class="kt-link kt-login__signup-link">Войти</a>-->
		<button routerLink="/auth/verification" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary">Пройти верификацию</button>
	</div>
</div>
