<div class="row">
	<div class="col-12 col-lg-6">
		<kt-portlet [class]="'kt-portlet--height-fluid kt-custom-chart'">
			<kt-portlet-header [title]="'ЗАРЕГИСТРИРОВАТЬ'"></kt-portlet-header>
			<kt-portlet-body>
				<form>
					<div class="form-row">
						<label class="active">Название
							<input class="form-control" type="text">
						</label>
						<label class="active">Метка (только цифры)
							<input class="form-control" type="email">
						</label>
					</div>
					<div class="form-row">
						<label class="active">Посадочная страница
							<input class="form-control" type="text">
						</label>
						<label class="active">Целевая страница
							<input class="form-control" type="text">
						</label>
					</div>
					<button class="btn full-width custom-catalog-btn" type="submit">Создать</button>
				</form>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-12 col-lg-6">
		<kt-portlet [class]="'kt-portlet--height-fluid kt-custom-chart'">
			<kt-portlet-header [title]="'Ссылки на формы'">
			</kt-portlet-header>
			<kt-portlet-body>
				<div class="link-form-container">
					<div class="link-form">
						<a data-link="https://reg.solargroup.pro/bxh053" role="button">https://reg.solargroup.pro/bxh053 </a>
						<strong class="definition__val">Скопировать</strong>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
