
<div class="row">
	<div class="col-12 col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid kt-custom-chart'">
			<kt-portlet-header [title]="'Безопасность'">

			</kt-portlet-header>
			<kt-portlet-body>
				<form>
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" id="authSwitch">
						<label class="custom-control-label" for="authSwitch">Двухфакторная фантификация</label>
					</div>
					<button class="btn full-width custom-catalog-btn" type="submit">Сохранить</button>
				</form>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-12 col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid kt-custom-chart'">
			<kt-portlet-header [title]="'Email-уведомления'">

			</kt-portlet-header>
			<kt-portlet-body>
				<form>
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch1">
					<label class="custom-control-label" for="customSwitch1">Серия приветственных писем</label>
				</div>
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch2" checked>
					<label class="custom-control-label" for="customSwitch2">Предстоящие вебинары</label>
				</div>
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
					<label class="custom-control-label" for="customSwitch3">Уведомления о платежах и сроках</label>
				</div>
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
					<label class="custom-control-label" for="customSwitch4">Уведомление по покупкам</label>
				</div>
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch5" checked>
					<label class="custom-control-label" for="customSwitch5">Специальные предложения</label>
				</div>
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch6" checked>
					<label class="custom-control-label" for="customSwitch6">Реферальные начисления по факту</label>
				</div>
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch7" checked>
					<label class="custom-control-label" for="customSwitch7">Реферальные начисления за неделю</label>
				</div>
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch8" checked>
					<label class="custom-control-label" for="customSwitch8">Регистрации по партнёрской ссылке за неделю</label>
				</div>
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch9" checked>
					<label class="custom-control-label" for="customSwitch9">Регистрации по партнёрской ссылке</label>
				</div>
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch10" checked>
					<label class="custom-control-label" for="customSwitch10">Еженедельный дайджест</label>
				</div>
					<button class="btn full-width custom-catalog-btn" type="submit">Сохранить</button>
				</form>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

