<div class="kt-widget12 kt-custom-widget2">
	<div #slider class="slider-move-area">
		<div *ngIf="this.showArrow" class="slider-arrow slider-arrow-left"></div>
		<div *ngFor="let element of this.cottages"
			 class="kt-widget12__slide">
			<div class="kt-widget12__content">
				<div class="kt-widget12__item">
					<div class="kt-widget12__info">
						<div class="kt-widget12__img" [style.background-image]="'url('+element.detailImg+')'">
							<div class="kt-widget12__img-row">
								<div class="kt-widget12__img-marker">{{element.marker}}</div>
								<div class="kt-widget12__img-income">доходность: 40%</div>
							</div>
							<div class="kt-widget12__img-title"> {{element.title}}</div>
						</div>
					</div>
				</div>
				<div class="kt-widget12__item">
					<div class="kt-widget12__info">
						<span class="kt-widget12__desc progress-bar-title">{{element.price}}₽</span>
						<div class="kt-widget12__progress">
							<div class="progress kt-progress--sm">
								<div class="progress-bar bg-success" role="progressbar" [style.width]="subheaderService.getPrecent(this.element.price, this.element.introduced) + '%'"
									 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
						<div class="kt-widget12__stat">{{subheaderService.getPrecent(this.element.price, this.element.introduced)}}%</div>
					</div>
				</div>
			</div>
			<div class="kt-widget12__chart">
				<div *ngIf="this.showDesc" class="kt-custom-widget-desc">{{this.des}}</div>
				<div *ngIf="this.showLike" class="kt-custom-widget-more">
					<div (click)="element.like = !element.like;" class="kt-custom-widget-more-like-btn"><i class="fa fa-heart"
																   [style.color]="element.like ? '#fcb12e' : 'white'"></i>
					</div>
					<div *ngIf="this.showMore" class="kt-custom-widget-more-more-btn">Подробнее</div>
				</div>
			</div>
		</div>

		<div *ngIf="this.showArrow" class="slider-arrow slider-arrow-right"></div>
	</div>
	<div *ngIf="this.showSideBar" class="slide-bar">
		<div *ngFor="let slide of this.cottages" [class.slide-bar-option-active]="slide.show"
			 (click)="this.nextSlide(slide)" class="slide-bar-option"></div>
	</div>
</div>
