.kt-custom-widget2 {
	overflow-x: hidden;
	.slider-move-area {
		display: flex;
		overflow-x: hidden;
		transition: 0.2s;
		.kt-widget12__slide {
			min-width: 100%;
			.kt-widget12__content {
				.kt-widget12__item {
					.kt-widget12__info {
						.kt-widget12__img {
							background-image: url("/assets/media/products/cottage/cottage1.png");
							height: 242px;
							width: 100%;
							background-repeat: no-repeat;
							background-size: cover;
							padding: 16px;
							display: flex;
							flex-direction: column;
							justify-content: space-between;

							.kt-widget12__img-row {
								display: flex;
								justify-content: space-between;

								.kt-widget12__img-marker {
									padding: 5px 10px;
									font-weight: 600;
									background: #fcb12e;
									border-radius: 4px;
									display: flex;
									justify-content: center;
									align-items: center;
									color: white;
								}

								.kt-widget12__img-income {
									font-size: 14px;
									color: #FFFFFF;
								}
							}

							.kt-widget12__img-title {
								font-weight: 600;
								font-size: 14px;
								color: #FFFFFF;
							}
						}

						.progress-bar-title {
							text-align: center;
							font-weight: 600 !important;
							font-size: 18px !important;
							color: #fcb12e !important;
						}

						.kt-widget12__progress {
							padding: 0 40px;

							.kt-progress--sm {
								background-color: #0a2439 !important;
								border: 1px solid #fcb12e;
								.progress-bar {
									background-color: #fcb12e !important;

								}

								.bg-success {
								}
							}
						}

						.kt-widget12__stat {
							width: 100%;
							text-align: center;
							font-size: 18px;
							color: #0a2439;
							font-weight: bold;
						}
					}
				}
			}

			.kt-widget12__chart {
				padding: 0 16px;

				.kt-custom-widget-desc {
				}

				.kt-custom-widget-more {
					max-width: 140px;
					margin: 24px auto;
					display: flex;

					justify-content: space-between;

					.kt-custom-widget-more-like-btn {
						border: 1px solid #fcb12e;
						transition: all 0.2s ease 0s;
						cursor: pointer;
						background: #0a2439;
						width: 32px;
						height: 32px;
						align-items: center;
						display: flex;
						justify-content: center;
					}

					.kt-custom-widget-more-more-btn {
						cursor: pointer;
						background: #0a2439;
						border: 1px solid #fcb12e;
						color: #fcb12e;
						font-size: 11px;
						padding: 5px 15px;
						align-items: center;
						display: flex;
						justify-content: center;
						font-weight: 600;
					}
				}
			}
		}
	}

	.slide-bar {
		display: flex;
		justify-content: center;
		padding: 32px 0;
		border-top: 1px solid #ebedf2;

		.slide-bar-option {
			border-radius: 50%;
			margin: 0 5px;
			width: 13px;
			cursor: pointer;
			transition: 0.5s;
			height: 13px;
			border: 1px solid #fcb12e;
			background: #0a2439;
		}

		.slide-bar-option-active {
			border: 1px solid #fcb12e;
			background: #fcb12e;
		}
	}
	.slider-arrow {
		width: 50px;
		background-position: 50%;
		height: 242px;
		background-repeat: no-repeat;
		position: absolute;
		background-image: url(/assets/media/icons/custom/arrow-left.svg);
	}

	.slider-arrow.slider-arrow-right {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		right: 30px;

	}
}

.kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-cricle > i {
	top: -11px;
	left: -6px;
}
