<div class="page-nav__wrap">
	<nav class="page-nav__menu">
		<a class="page-nav__link" routerLinkActive="page-nav__link--active" routerLink="/profile/common/">Профиль</a>
		<a class="page-nav__link" routerLinkActive="page-nav__link--active" routerLink="/profile/verification/">Верификация</a>
		<a class="page-nav__link" routerLinkActive="page-nav__link--active" routerLink="/profile/settings/">Настройки</a>
	</nav>
	<div class="page-nav__main">
		<div class="page-nav__about">
			На этой странице размещена информация о Вас: личные данные, контакты, фото профиля и адрес пребывания. После того, как Вы прошли верификацию, личные данные и адрес закрепляются. Изменить их можно только через повторную верификацию.
		</div>
	</div>
</div>
<router-outlet></router-outlet>
