<kt-portlet [class]="'kt-portlet--height-fluid kt-custom-chart'">
	<kt-portlet-header [title]="'Статистика'">

	</kt-portlet-header>
	<kt-portlet-body>
		<div class="card">
			<div class="card__body">
				<ul class="definition card__definition">
					<li class="definition__line definition__line--nowrap">
						<span class="definition__name">Количество зарегистрированных в структуре</span>
						<strong class="definition__val" id="count_field">430</strong>
					</li>
					<li class="definition__line definition__line--nowrap">
						<span class="definition__name">Количество зарегистрированных в первой линии</span>
						<strong class="definition__val" id="count_top_level_field">355</strong>
					</li>
					<li class="definition__line definition__line--nowrap">
						<span class="definition__name">Сумма покупок (по факту)</span>
						<strong class="definition__val" id="purchase_sum_field">64&nbsp;859,00&nbsp;$</strong>
					</li>
					<li class="definition__line definition__line--nowrap">
						<span class="definition__name">Сумма покупок с учётом выплаты рассрочек (ожидаемая, по стоимости пакетов)</span>
						<strong class="definition__val" id="purchase_sum_expected_field">83&nbsp;240,00&nbsp;$</strong>
					</li>
					<li class="definition__line definition__line--nowrap">
						<span class="definition__name">Сумма реферального вознаграждения (полученная)</span>
						<strong class="definition__val" id="referral_sum_field">4&nbsp;815,80&nbsp;$</strong>
					</li>
					<li class="definition__line definition__line--nowrap">
						<span class="definition__name">Сумма реферального вознаграждения с учётом выплаты рассрочек (ожидаемая)</span>
						<strong class="definition__val" id="referral_sum_expected_field">163,20&nbsp;$</strong>
					</li>
				</ul>
			</div>
		</div>

	</kt-portlet-body>
</kt-portlet>
