<div class="close">
	<div class="close-ico" (click)="dialogRef.close()"></div>
</div>
<div class="row">
	<div class="col-12 col-md-6">
		<div class="row">
			<div class="col-12 col-md-3">
				<label class="inputName">Статус</label>
			</div>
			<div class="col-9">

				<select id="newState" class="form-control" value="Активно" [(ngModel)]="newState">
					<option *ngFor="let status of stateList" selected="selected"
							value="{{status._id}}">{{status.title}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-3">
				<label class="inputName">Наименование</label>
			</div>
			<div class="col-9">
				<input class="form-control" [(ngModel)]="newName">
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-3">
				<label class="inputName">Сумма инвестиций</label>
			</div>

			<div class="col-9 position-relative">
				<input class="form-control" type="text" [(ngModel)]="money">
				<div class="current-val">$</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-3">
				<label class="inputName">Доходность</label>
			</div>
			<div class="col-9"><input class="form-control" type="text" [(ngModel)]="profitability"></div>
		</div>
		<div class="row">
			<div class="col-12 col-md-3">
				<label class="inputName">Окупаемость</label>
			</div>
			<div class="col-9"><input class="form-control" [(ngModel)]="payback" type="text"></div>
		</div>
	</div>
	<div class="col-12 col-md-6">
		<div class="row">
			<div class="col-12 col-md-3">
				<label class="inputName">Картинка</label>
			</div>
			<div class="col-12 col-md-9">
				<label id="imgs" for="pct" class="dialog-img" [style.background-image]="'url(' + urlImg + ')'">
					<input (change)="this.addImage($event.target)" type="file" id="pct">
				</label>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<label class="inputName">Краткое описание</label>
		<textarea class="form-control" [(ngModel)]="shortDescription"></textarea>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<label class="inputName">Детальное описание</label>
		<textarea class="form-control" [(ngModel)]="detailedDescription"></textarea>
	</div>
</div>
<div class="row"></div>

<button *ngIf="data.mode" class="btn custom-catalog-btn" (click)="this.edit()">Изменить</button>
<button *ngIf="!data.mode" class="btn custom-catalog-btn" (click)="this.addNew()">Добавить</button>
