<div class="row">
	<div class="col-12">
		<kt-portlet [class]="'kt-portlet--height-fluid kt-custom-chart'">
			<kt-portlet-header [title]="'Транзакции'">

			</kt-portlet-header>
			<kt-portlet-body>


				<section class="profile">
					<div class="card">
						<div class="card__head">
							<h5 class="card__title">
								Заявка на вывод </h5>

							<input type="hidden" id="acc_b" value="42.9">
						</div>
						<div class="card__body">


							<form class="form" id="request_form" method="post">
								<div class="row" style="align-items: flex-end;">
									<label class="active">Сумма
										<input class="form-control" type="text">
									</label>
									<button class="btn custom-catalog-btn">Вывести</button>
								</div>
							</form>
						</div>
					</div>
				</section>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
