
<div class="row">
	<div class="col-12 col-xl-2">
		<kt-portlet [class]="'kt-portlet--height-fluid kt-custom-chart'">
			<kt-portlet-header [title]="'Фото профиля'">

			</kt-portlet-header>
			<kt-portlet-body>
					<div class="profile-img-block" *ngIf="user$ | async as _user">
<!--						<div class="profile-img"  id="pict-load"></div>-->
						<canvas  id="pict-load" [style.background-img]="_user.data.avatar"></canvas>
					</div>
					<div class="profile-img-change">
						<label for="pict">
							<button type="submit" id="btn-load" class="btn full-width custom-catalog-btn">Изменить фото</button>
							<input type="file" id="pict" name="pick-load" (change)="loadImg($event.target)" style="opacity: 0">
						</label>
					</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-12 col-xl-4">
		<kt-portlet [class]="'kt-portlet--height-fluid kt-custom-chart'">
			<kt-portlet-header [title]="'Личные данные'">

			</kt-portlet-header>
			<kt-portlet-body>
				<form *ngIf="user$ | async as _user">
					<label class="active">ФИО</label>
					<input class="form-control mb-2" type="text" [(ngModel)]="fullName" [ngModelOptions]="{standalone: true}">
<!--					<label class="active">Фамилия</label>-->
<!--					<input class="form-control" [(ngModel)]="surname">-->
<!--					<label class="active">Пол</label>-->
<!--					<input class="form-control" [(ngModel)]="gender">-->
					<div class="input-group">
						<input class="form-control" placeholder="dd/mm/yyyy" name="dp" value="{{birthday}}"  [startDate]="{year: 1998, month: 1, day: 1}" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker">
						<div class="input-group-append">
							<button class="btn btn-custom" (click)="d.toggle() " type="button">
								<i class="la la-calendar"></i>
							</button>
						</div>
					</div>
					<button class="btn full-width custom-catalog-btn" (click)="saveData()" type="submit">Сохранить</button>
				</form>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-12 col-xl-4">
		<kt-portlet [class]="'kt-portlet--height-fluid kt-custom-chart'">
			<kt-portlet-header [title]="'Контакты'">

			</kt-portlet-header>
			<kt-portlet-body>
				<form *ngIf="user$ | async as _user">
<!--					<label class="active">Телефон</label>-->
<!--					<input class="form-control" value="" type="text">-->
<!--					<button class="btn full-width  custom-catalog-btn" type="submit">Изменить номер</button>-->
					<label class="active">Email</label>
					<input class="form-control" value="{{_user.data.email}}" type="text">
					<button class="btn full-width custom-catalog-btn" type="submit">Сохранить</button>
				</form>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

