<div class="row">
	<div class="col-xl-12">
		<div class="row row-full-height">
			<div class="col-xl-4">
				<kt-portlet [class]="'kt-portlet--height-fluid kt-custom-chart'">
					<kt-portlet-header [title]="'Статистика'">
						<ng-container ktPortletTools>
							<kt-context-menu2></kt-context-menu2>
						</ng-container>
					</kt-portlet-header>
					<kt-portlet-body>
						<kt-custom-widget3></kt-custom-widget3>
					</kt-portlet-body>
				</kt-portlet>
			</div>
			<div class="col-xl-4">
				<kt-portlet [class]="'kt-portlet--height-fluid'">
					<kt-portlet-header [title]="'Проекты специально для вас'">
<!--						<ng-container ktPortletTools>-->
<!--							<kt-context-menu2></kt-context-menu2>-->
<!--						</ng-container>-->
					</kt-portlet-header>
						<kt-custom-widget2 [showArrow]="false" ></kt-custom-widget2>
				</kt-portlet>
			</div>
			<div class="col-xl-4">
				<kt-portlet [class]="'kt-portlet--height-fluid'">
					<kt-portlet-header [title]="'События'">
						<ng-container ktPortletTools>
<!--							<kt-context-menu2></kt-context-menu2>-->
						</ng-container>
					</kt-portlet-header>
					<kt-portlet-body>
						<kt-timeline2></kt-timeline2>
					</kt-portlet-body>
				</kt-portlet>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-12" id="full-screen-chart">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'График прибыли'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-custom-widget [color]="'#fcb12e'"></kt-custom-widget>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
